body{
   
    padding-bottom: 3%;
}
header h3 ,p{
    color:blue;
    margin: 15px;
    
}

.form{
    max-width: 500px;
}
.bb{
    box-shadow: 10px 10px 5px 12px #EEEBDD;
    max-width:700px;
    padding-top:2% ;
    padding-bottom:2%;
    margin-top: 2%;
   
}
.bb strong + .bb label{
    color: #070706;
}
.bb {
    color:#e66d2c;
}
.form textarea{
   height:50px !important;
   
}
.companyform{
display: inline;
}
.bord button{
    background-color:#EEEBDD;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;

}
.show{
    border-radius: 5px;
}
.edit{
    background-color:#D8B6A4;
    border-radius: 5px;
    color: black;

}
.delete{
    background-color:#630000;
    border-radius: 5px;
    color: black;

}
.create{
    float: right;
}
.container{
    margin-top:10px;
}
 .bord ul{
     padding-left:5px;
 }
.bord a{
    color: black;
    font-weight: bold;
    padding-top:1%;
    

}

 .dashboard a{
     color: white;
 }
  .image_product{
    height:70vh;width:100%;
    background-repeat: no-repeat"
 }


 .form{
    max-width: 500px;
    margin: 50px auto;
}


form select , form input{
margin: 10px; 
}

.form input ,.form select{
    padding-left:10px;
}
.contact{
    margin-top:3%;
}
.contactImage{
width:100%;
height:100%;
}
